
.heading {
    text-align: center;
}
.button{
    width: 100%;
    text-align: end;
    margin-bottom: 20px;
    font-size: 13px;

}

.intro {
    padding: 50px;
    position: relative;
    width: 100%;
}

.gradient-custom-1 {
font-size: 20px;

    /* fallback for old browsers */
    background: #cd9cf2;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to top,
        rgba(205, 156, 242, 1),
        rgba(246, 243, 255, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to top,
        rgba(205, 156, 242, 1),
        rgba(246, 243, 255, 1)
    );
}

table td,
table th {
    text-overflow: ellipsis;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}
tbody td {
    font-weight: 500;
    font-size: 13px;
    overflow: hidden;
}

/* form */
#form_box{
    width: 35%;
    border: 1px solid;
    padding: 27px;
    border-radius: 25px;
    position: absolute;
    left: 361px;
    background: #F1F6F5;
}
.hidden{
    display: none;
}
input{
    height: 31px;
}
label{
    font-size: 17px;
}
.close{
    margin-bottom: 5px;
    margin-left: 98%;
}
.close i{
    font-size: 17px;
}
textarea{
    height: 79px;
}
.date{
    display: flex;
}