* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.57143;
    font-weight: 400;
    color: #5d5d5d;
}
.banner-sec {
    padding: 150px 80px;
    background-image: url("../img/banner.jpg");
}
.banner-sec .banner-text {
    margin: auto;
    display: flex;
    height: 100%;
    max-width: 900px;
    text-align: center;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-sec .banner-text:before {
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center right 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-size: auto 280px;
    width: 441px;
    right: 0;
    top: -97px;
}
.banner-sec .banner-text .btn {
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 13px;
}
.banner-sec .banner-text h2 {
    font-size: 57px;
    font-weight: 700;
    line-height: 60px;
    color: #3c2064;
    margin-top: 10px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
}
.banner-sec .banner-text .btn {
    background: #ff6158;
}
.banner-sec .banner-text .btn {
    background: #ff6158;
}
.banner-sec .banner-text .btn:before {
    background: #f76f68;
}

.section-title {
    color: #3c2064;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    padding-top: 80px;
}

.how-work-area .single-feature {
    margin-top: 40px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}
.how-work-area .single-feature .single-feature-icon i {
    font-size: 34px;
    height: 90px;
    width: 90px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    transition: 0.4s;
    color: #3c2064;
}
.how-work-area .single-feature:hover .single-feature-icon i {
    background: #573883;
    color: #fff;
}
.how-work-area .single-feature:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.how-work-area .single-feature h4 {
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: 0.4s;
    color: #ff6158;
}
.how-work-area .single-feature .angle-icon i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/*********************  Services-section *******************/

.services-sec .section-title img {
    opacity: 0.3;
}
.services-sec .box {
    text-align: center;
    padding: 20px 20px 15px 20px;
    text-align: center;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease 0s;
    margin-top: 40px;
}
.services-sec .box:hover {
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.1);
}
.services-sec .box h5 {
    font-size: 16px;
    color: #1d2833;
    font-weight: bold;
    margin-top: 16px;
}
.services-sec .box p {
    font-size: 14px;
    color: #5d5d5d;
}

/* jobsection */



.current-job-sec .current-job_product {
    margin-bottom: 30px;
}
.current-job-sec .box1 {
    flex-wrap: wrap;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #aaaa;
}
.current-job-sec .box1 .icon-sec {
    display: flex;
    padding: 15px;
    justify-content: center;
        align-items: center;
}
.current-job-sec .box1 .text-sec {
    padding: 10px;
    text-align: left;
    color: #3c2064;
    font-size: 14px;
    flex: 1;
}
.current-job-sec .box1 .text-sec h4 {
    font-size: 22px;
        font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.current-job-sec .box1 .text-sec a {
    color: #3c2064;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
.current-job-sec .box1 .text-sec p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}

/* blog part */
.row-blg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.blog-sec .section-title img {
    opacity: 0.3;
}
.blog-sec .blog {
    position: relative;
    overflow: hidden;
    margin: 10px 0 80px;
}
.blog-sec .blog img {
    transform: scale(1.001);
    transition: 0.5s all ease;
}
.blog-sec .blog:hover img {
    transform: scale(1.1);
    transition: 0.5s all ease;
}
.blog-sec .blog a.btn {
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 13px 13px 0;
}
.blog-sec .blog .text-box {
    background: #ededed;
    font-size: 18px;
    color: #5d5d5d;
    font-weight: bold;
    position: relative;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    position: relative;
    padding: 20px 15px;
}
.blog-sec .blog .text-box h6 {
    color: #433157;
    font-size: 20px;
    padding: 10px 13px;
    margin-bottom: 0;
    font-weight: 600;
}
.blog-sec .blog .text-box p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    color: #3c2064;
    padding: 0px 13px 10px 13px;
}
.blog-sec .blog .text-box .name-sec {
    display: flex;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.blog-sec .blog .text-box .name-sec .date {
    position: absolute;
    width: 66px;
    height: 66px;
    font-size: 20px;
    right: 15px;
    bottom: 75px;
    line-height: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    flex-direction: column;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    background-image: url(../images/date-bg.png);
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding-top: 5px;
}
.blog-sec .blog .text-box .name-sec .date span {
    font-size: 12px;
    font-weight: 500;
}
.blog-sec .blog .text-box .name-sec p {
    margin-bottom: 0;
    padding: 8px 0 8px 15px;
}
.blog-sec .blog:hover .text-box {
    background: #ffc6c3;
}

.subscription-sec {
    text-align: center;
    background-image: url(../img/subscribe-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 70px 0px 75px;
    background-position: center center;
    background-repeat: no-repeat;
}
.subscription-sec::before {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    content: "";
    z-index: 0;
    background: rgba(55, 35, 84, 0.8);
}
.subscription-sec h3 {
    font-size: 45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    line-height: 50px;
    margin: 0px;
}
.subscribe-group {
    max-width: 620px;
    margin: 25px auto 5px;
}
.subscription-sec p {
    font-size: 17px;
    margin: 10px 0 0 0;
    line-height: 28px;
    display: inline-block;
    position: relative;
}
.subscribe-group .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.375rem 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #ff6158;
    border: 1px solid #ff6158;
    border-radius: 0 30px 30px 0;
    font-weight: bold;
    max-height: 60px;
}
.subscribe-group .subscribe-btn {
    text-transform: uppercase;
}
.subscribe-group .form-control {
    border-radius: 30px 0 0 30px;
    padding-left: 30px;
    min-height: 60px;
    box-shadow: none;
}
