* {
    margin: 0;
    padding: 0;
}
 .job{
    background-image: url(../img/about-banner.jpg);
    padding: 150px;
    margin: 0 0 50px 0;
}
.job-text{
    left: 0;
    right: 0;
    margin: 0 0 0 30px;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}
.job .job-text:before {
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center left 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-size: auto 280px;
    width: 600px;
    right: 0;
    top: -80px;
}
.job-text h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 35px;
    color: #3c2064;
    
} 
.job-text ul{
    list-style: outside none none;
    display: flex;
    padding: 0px;
} 
.job-text ul li {
   font-size: 18px;
    color: #3c2064;
} 
.job-text ul li a{
    text-decoration: none;
   font-size: 18px;
    color: #333;
} 
.job-text ul li:last-child::before {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
    color: #a5a5a5;
    font-weight: 500;
}
.current-job-sec .current-job_product {
    margin-bottom: 30px;
}
.current-job-sec .box {
    flex-direction: column;
    text-align: center;
        background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #aaaa;
}
.current-job-sec .box .icon-sec {
    display: flex;
    padding: 15px;
    justify-content: center;
        align-items: center;
}
.current-job-sec .box .text-sec {
    padding: 10px;
    text-align: left;
    color: #3c2064;
    font-size: 14px;
    flex: 1;
}
.current-job-sec .box .text-sec h4 {
    font-size: 22px;
        font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.current-job-sec .box .text-sec a {
    color: #3c2064;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
.current-job-sec .box .text-sec p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}
.current-job-sec .box .btns-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.current-job-sec .box .btns-sec .btn {
    font-size: 15px;
    white-space: nowrap;
    padding: 8px 10px;
    min-width: 100px;
    margin: 6px;
    font-weight: 500;
    background: #ff6158;
    color: #fff;
}
.current-job-sec .box .text-sec p img {
    width: 14px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    border-style: none;
}