* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

:root {
    --main-color: #ff6158;
}

/* utility classes */
.header1 {
    font-size: 3rem;
    font-weight: 700;
}

.header2 {
    font-size: 2rem;
    font-weight: 700;
}

.paragraph {
    font-size: 1.6rem;
}


/* custom navbar */
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

#navbar {
    display: flex;
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
}

#navbar .links {
    display: flex;
    align-items: center;
    margin: 0;
}

#navbar .links li {
    padding: 1.5rem;
    list-style: none;
}

#navbar .links li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#navbar .links li a:hover {
    color: var(--main-color);
    transition: 0.3s ease-out;
}

.active {
    color: var(--main-color) !important;
}

#login {
    font-size: 1.6rem;
    background-color: var(--main-color);
    color: white !important;
    font-weight: 500;
}

.butn {
    display: flex;
    gap: 8px;
}

.profile {
    display: flex;
    gap: 2px;
}

.profile img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#drop-menu hr {
    height: 2px;
    color: var(--main-color) !important;
    opacity: 1;
    margin: 0;
}

#drop-menu li {
    display: flex;
    width: 100%;
}

#drop-menu li:hover {
    background-color: #e9ecef;
}

#drop-menu {
    padding: 1rem;
}

#drop-menu li a {
    color: black;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    width: 100%;
}

#drop-menu li i {
    font-size: 1.6rem;
}

#signup-dropdown {
    height: 35px;
}

#signup-dropdown a {
    color: white;
}

#click-signup-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main-color);
    font-size: 1.6rem;
    outline: none;
    border: none;
}

#login a:hover {
    background-color: var(--main-color);
    color: white !important;
}

/* login */
.close-div {
    display: flex;
    padding: 0 3.6rem 0 0;
    justify-content: end;
}

.close-modal {
    width: fit-content;
    font-size: 3rem;
    margin-top: -1rem;
}

.close-modal:hover {
    cursor: pointer;
}

.login-modal-background {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    margin: 0 !important;
    top: 0;
    opacity: 0;
    transform: translate(0, -30%) scale(0.1);
    visibility: hidden;
    transition: visibility 0.3s ease, transform 0.3s ease;
    z-index: 9;

}

.show-modal {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.form-layout {
    height: auto;
    background-color: white;
    padding: 2rem 0;
}

.form-layout input {
    border: transparent;
    outline: none !important;
    border-radius: 0;
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    font-size: 1.6rem;
    padding: 0 3.6rem;
    height: 35px
}

.form-layout input::placeholder {
    font-size: 1.6rem;
}

.form-input {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    margin-top: 1.5rem;
}

.form-layout .form-input i {
    position: absolute;
    left: 0.3rem;
    font-size: 2.4rem;
    color: var(--main-color);
}

.Cbtn {
    font-size: 1.6rem;
    background-color: var(--main-color);
    padding: 0.8rem 2rem;
    border: none;
    width: 100%;
    color: white;
    font-weight: 500;
    margin-top: 2rem;
}

.form-grp {
    padding: 2rem 3rem;
}

.blurz {
    z-index: -1;
    filter: blur(2px);
}

/* Company signup form  */
#company-register-form {
    margin: 3rem 0;
}

.signup-form-grp {
    position: relative;
    padding: 0.7rem 2rem;
}

.signup-form-grp label {
    font-weight: 500;
    display: block;
    font-size: 1.6rem;
}

.signup-form-grp input {
    font-size: 1.6rem;
    height: 32px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    padding: 0.2rem 1rem;
    border-color: lightgray;
}

.category {
    width: 100%!important;
    height: 32px;
    font-size: 1.6rem!important;
    font-weight: 500!important;
    opacity: 0.7;
    padding: 0 0 0 0.5rem;
    border-radius: 5px!important;
}

.category option {
    width: 100%;
    height: 32px;
    font-size: 1.6rem;
}

.form-one-line {
    display: flex;
}

.submit-btn {
    display: flex;
    justify-content: end;
}

.submit-btn button {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 0.6rem 1.5rem;
    background-color: var(--main-color);
    font-size: 1.6rem;
    border: none;
}

.submit-btn a:hover {
    color: white;
}

.signup-form-features {
    display: flex;
    padding: 2rem 2rem;
}

.signup-form-features p{
    color: white;
}

.signup-form-features i {
    margin-right: 3rem;
    font-size: 2.3rem;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: none !important;
}


/* error  */
.show-error {
    color: red;
    padding-left: 2rem;
}

.show-error i,
.show-error span {
    font-size: 1.2rem;
}

/* footer */
footer {
    background-image: url('../img/footer-bg.jpg');
}

footer h1 {
    font-size: 3rem;
    font-weight: 700;
}

.box-1 {
    padding: 5rem 2rem;
    color: white;
}

.box-2 {
    display: flex;
    color: var(--main-color);
    padding: 3.5rem 0;
}

.box-2-1 {
    flex: 1;
}

hr {
    color: wheat !important;
    height: 3px;
    width: 100%;
}

.box-2-2 {
    flex: 1;

}

.box-2-3 {
    flex: 1;
}

.box-2 i {
    color: white;
    font-size: 1.8rem;
}

.box-2 span {
    margin-left: 0.5rem;
    color: white;
}

.box-2-3 i {
    margin-right: 1rem;
    font-size: 3rem;

}

/* about */
.about {
    background-image: url(../img/about-banner.jpg);
    padding: 150px;
    margin: 0 0 50px 0;
}

.about-text {
    left: 0;
    right: 0;
    margin: 0 0 0 30px;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.about .about-text:before {
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center left 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-size: auto 280px;
    width: 600px;
    right: 0;
    top: -80px;
}

.about-text h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 35px;
    color: #3c2064;

}

.about-text ul {
    list-style: outside none none;
    display: flex;
    padding: 0px;
}

.about-text ul li {
    font-size: 18px;
    color: #3c2064;
}

.about-text ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.about-text ul li:last-child::before {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
    color: #a5a5a5;
    font-weight: 500;
}

/* description */
.description {
    background-image: url(../img/footer-bg.jpg);
    padding: 75px;
    margin: 0 0 50px 0;
}

.description-process h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #d9d9d9;
}

.description-process p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.57143;
    font-weight: 400;
    color: #d9d9d9;
}

/* planning */
.row {
    display: flex;
    flex-wrap: wrap;
}

.planning {
    background-color: #e9eaeb;
    padding: 75px;
    margin: 0 0 50px 0;
}

.planning-process h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #3c2064;
}

.planning-process p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.57143;
    font-weight: 400;
    color: #5d5d5d;
}

/* contact */
.contact {
    background-image: url(../img/about-banner.jpg);
    padding: 150px;
    margin: 0 0 50px 0;
}

.contact .contact-text:before {
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center left 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-size: auto 280px;
    width: 600px;
    right: 0;
    top: -80px;
}

.contact-text {
    left: 0;
    right: 0;
    margin: 0 0 0 30px;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.contact-text h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 35px;
    color: #3c2064;

}

.contact-text ul {
    list-style: outside none none;
    display: flex;
    padding: 0px;
}

.contact-text ul li {
    font-size: 18px;
    color: #3c2064;
}

.contact-text ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.contact-text ul li:last-child::before {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
    color: #a5a5a5;
    font-weight: 500;
}

/* form */

.inner-content-wrapper {
    padding: 50px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-area .content .heading {
    margin-bottom: 30px;
}

.contact-area .content h2 {
    font-weight: 600;
    color: #3c2064;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.contact-area .content p {
    margin-top: 0;
    color: #3c2064;
    margin-bottom: 1rem;
    font-size: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group .form-control {
    font-size: 25px;
}

.contact-area form .row:first-child {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;
}

.contact-area .info {
    padding-left: 75px;

}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.contact-area .contact-tabs ul {
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
    margin-top: 0;
}

.contact-area form button {
    background: #ff6158;
    border: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 5px;
}

.nav {
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.contact-area .contact-tabs ul li {
    display: inline-block;
    margin: 0;
}

.contact-area .contact-tabs ul li a.active {
    background: transparent;
    font-size: 3rem;
    color: #ff6158;
}

.tab-content .active {
    display: block;
}

.tab-content ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.contact-tabs .tab-content ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    list-style: outside none none;
}

.contact-tabs .tab-content ul li .info p {
    font-weight: 600;
    color: #0e2b3d;
    font-size: 20px;
    color: #3c2064;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

.contact-tabs .tab-content ul li .info span {
    display: block;
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
    color: #3c2064;
    color: #666666;

}

/* forget-password-login  */
.forgot-password{
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;
    text-decoration: none;
}
.forgot-password a{
    text-decoration: none;
}
#ForgotPasswordForm form input{
    width: 100%;
    padding: 0.3rem 1.1rem;
    border-radius: 10px;
    /* border:1.8px solid #a5a5a5; */
    outline: none;
    font-size: 1.8rem;
}
#ForgotPasswordForm form input::placeholder{
    font-size: 1.6rem;
    opacity: 0.9;
}
.ForgotButtons{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}
.ForgotButtons a,.ForgotButtons button,.ResetButton button{
    border-radius: 5px;
    background-color: var(--main-color);
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}
.ForgotButtons a:hover,.ForgotButtons button:hover{
    color: white;
}
.resetmessage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ResetFormLogin{
    display: flex;
    gap: 10px;
}
.ResetFormLogin input{
    height: 3.6rem;
    padding: 1rem;
    font-size: 1.6rem;
    width: 23rem;
}
.ResetFormLoginButton Button{
    background-color: #ff6158;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}


/* show and hide password */
#register-eye{
    padding-right: 3rem!important; ;
}
#eyes{
    position: absolute;
    top: 10%;
    right: 3rem;
    cursor: pointer;
    z-index: 999;
}
#eyes #register-eye-hide,#eyes #register-eye-show{
    font-size: 2.2rem;
}

/* job page */
* {
    margin: 0;
    padding: 0;
}
 .job{
    background-image: url(../img/about-banner.jpg);
    padding: 150px;
    margin: 0 0 50px 0;
}
.job-text{
    left: 0;
    right: 0;
    margin: 0 0 0 30px;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}
.job .job-text:before {
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center left 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-size: auto 280px;
    width: 600px;
    z-index: 1;
    right: 0;
    top: -80px;
}
.job-text h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 35px;
    color: #3c2064;
    
} 
.job-text ul{
    list-style: outside none none;
    display: flex;
    padding: 0px;
} 
.job-text ul li {
   font-size: 18px;
    color: #3c2064;
} 
.job-text ul li a{
    text-decoration: none;
   font-size: 18px;
    color: #333;
} 
.job-text ul li:last-child::before {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
    color: #a5a5a5;
    font-weight: 500;
}
.current-job-sec .current-job_product {
    margin-bottom: 30px;
}
.current-job-sec .box {
    flex-direction: column;
    text-align: center;
        background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #aaaa;
}
.current-job-sec .box .icon-sec {
    display: flex;
    padding: 15px;
    justify-content: center;
        align-items: center;
}
.current-job-sec .box .text-sec {
    padding: 10px;
    text-align: left;
    color: #3c2064;
    font-size: 14px;
    flex: 1;
}

.current-job-sec .box .text-sec h4 {
    font-size: 22px;
        font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.current-job-sec .box .text-sec a {
    color: #3c2064;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
.current-job-sec .box .text-sec p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}
.current-job-sec .box .btns-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.current-job-sec .box .btns-sec .btn {
    font-size: 15px;
    white-space: nowrap;
    padding: 8px 10px;
    min-width: 100px;
    margin: 6px;
    font-weight: 500;
    background: #ff6158;
    color: #fff;
}
.current-job-sec .box .text-sec p img {
    width: 14px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    border-style: none;
}

/* home page */

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.57143;
    font-weight: 400;
    color: #5d5d5d;
}
.banner-sec {
    padding: 150px 80px;
    background-image: url("../img/banner.jpg");
}
.banner-sec .banner-text {
    margin: auto;
    display: flex;
    height: 100%;
    max-width: 900px;
    text-align: center;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-sec .banner-text:before {
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center right 0;
    content: "";
    position: absolute;
    bottom: 0;
    background-size: auto 280px;
    width: 441px;
    right: 0;
    top: -97px;
}
.banner-sec .banner-text .btn {
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 13px;
}
.banner-sec .banner-text h2 {
    font-size: 57px;
    font-weight: 700;
    line-height: 60px;
    color: #3c2064;
    margin-top: 10px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
}
.banner-sec .banner-text .btn {
    background: #ff6158;
}
.banner-sec .banner-text .btn {
    background: #ff6158;
}
.banner-sec .banner-text .btn:before {
    background: #f76f68;
}

.section-title {
    color: #3c2064;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    padding-top: 80px;
}

.how-work-area .single-feature {
    margin-top: 40px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}
.how-work-area .single-feature .single-feature-icon i {
    font-size: 34px;
    height: 90px;
    width: 90px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    transition: 0.4s;
    color: #3c2064;
}
.how-work-area .single-feature:hover .single-feature-icon i {
    background: #573883;
    color: #fff;
}
.how-work-area .single-feature:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.how-work-area .single-feature h4 {
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: 0.4s;
    color: #ff6158;
}
.how-work-area .single-feature .angle-icon i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/*********************  Services-section *******************/

.services-sec .section-title img {
    opacity: 0.3;
}
.services-sec .box {
    text-align: center;
    padding: 20px 20px 15px 20px;
    text-align: center;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease 0s;
    margin-top: 40px;
}
.services-sec .box:hover {
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.1);
}
.services-sec .box h5 {
    font-size: 16px;
    color: #1d2833;
    font-weight: bold;
    margin-top: 16px;
}
.services-sec .box p {
    font-size: 14px;
    color: #5d5d5d;
}

/* jobsection */



.current-job-sec .current-job_product {
    margin-bottom: 30px;
}
.current-job-sec .box1 {
    flex-wrap: wrap;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #aaaa;
}
.current-job-sec .box1 .icon-sec {
    display: flex;
    padding: 15px;
    justify-content: center;
        align-items: center;
}
.current-job-sec .box1 .text-sec {
    padding: 10px;
    text-align: left;
    color: #3c2064;
    font-size: 14px;
    flex: 1;
}
.current-job-sec .box1 .text-sec h4 {
    font-size: 22px;
        font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.current-job-sec .box1 .text-sec a {
    color: #3c2064;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
.current-job-sec .box1 .text-sec p {
    margin-bottom: 0;
    font-size: 15px;
}

/* blog part */
.row-blg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.blog-sec .section-title img {
    opacity: 0.3;
}
.blog-sec .blog {
    position: relative;
    overflow: hidden;
    margin: 10px 0 80px;
}
.blog-sec .blog img {
    transform: scale(1.001);
    transition: 0.5s all ease;
}
.blog-sec .blog:hover img {
    transform: scale(1.1);
    transition: 0.5s all ease;
}
.blog-sec .blog a.btn {
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 13px 13px 0;
}
.blog-sec .blog .text-box {
    background: #ededed;
    font-size: 18px;
    color: #5d5d5d;
    font-weight: bold;
    position: relative;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    position: relative;
    padding: 20px 15px;
}
.blog-sec .blog .text-box h6 {
    color: #433157;
    font-size: 20px;
    padding: 10px 13px;
    margin-bottom: 0;
    font-weight: 600;
}
.blog-sec .blog .text-box p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    color: #3c2064;
    padding: 0px 13px 10px 13px;
}
.blog-sec .blog .text-box .name-sec {
    display: flex;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.blog-sec .blog .text-box .name-sec .date {
    position: absolute;
    width: 66px;
    height: 66px;
    font-size: 20px;
    right: 15px;
    bottom: 75px;
    line-height: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    flex-direction: column;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    background-image: url(../images/date-bg.png);
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding-top: 5px;
}
.blog-sec .blog .text-box .name-sec .date span {
    font-size: 12px;
    font-weight: 500;
}
.blog-sec .blog .text-box .name-sec p {
    margin-bottom: 0;
    padding: 8px 0 8px 15px;
}
.blog-sec .blog:hover .text-box {
    background: #ffc6c3;
}

.subscription-sec {
    text-align: center;
    background-image: url(../img/subscribe-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 70px 0px 75px;
    background-position: center center;
    background-repeat: no-repeat;
}
.subscription-sec::before {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    content: "";
    z-index: 0;
    background: rgba(55, 35, 84, 0.8);
}
.subscription-sec h3 {
    font-size: 45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    line-height: 50px;
    margin: 0px;
}
.subscribe-group {
    max-width: 620px;
    margin: 25px auto 5px;
}
.subscription-sec p {
    font-size: 17px;
    margin: 10px 0 0 0;
    line-height: 28px;
    display: inline-block;
    position: relative;
}
.subscribe-group .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.375rem 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #ff6158;
    border: 1px solid #ff6158;
    border-radius: 0 30px 30px 0;
    font-weight: bold;
    max-height: 60px;
}
.subscribe-group .subscribe-btn {
    text-transform: uppercase;
}
.subscribe-group .form-control {
    border-radius: 30px 0 0 30px;
    padding-left: 30px;
    min-height: 60px;
    box-shadow: none;
}

/* JobProfile */
.JobCompanyProfile{
    display: flex;
    gap: 20px;
}
.JobCompanyProfile .JobCompanyProfilelogo{
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 105px;
}
.JobCompanyProfile img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.JobCompanyProfilecontent .JobCompanyProfilecontentinside{
    display: flex;
    gap: 0 25px;
    align-items: center;
    flex-wrap: wrap;
    margin: 11px 0 0 0;
}
.JobProfilelocation{
    display: flex;
    gap: 5px!important;
}
.JobProfilelocation i{
    margin-top: -.1rem;
    font-size: 1.6rem;
    color: gray;
}
.JobProfilePhone,.JobProfilelocation1,.JobProfileCompanyProfile{
    display: flex;
    gap:1.3rem;
}
.JobProfilePhone i,.JobProfilelocation1 i,.JobProfileCompanyProfile i{
    font-size:1.8rem;
}
.JobProfileCompanyProfile a{
    font-size: 1.6rem;
    z-index: 9;
}
.JobHeader{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}
.SingleJobCategory p{
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
.JobApplyNowBtn{
    margin-right: 3rem;
    border: none;
    background-color: #28a745;;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 7px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.JobApplyNowBtn:hover{
    background-color: black;
}
.JobTypehome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.JobTypehome a{
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.1rem 1.2rem;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
}
.JobTypehome a:hover{
    color: white;
}
.JobTypehome a:nth-of-type(2){
    margin: 1rem 0 0 0 ;
}
.JobProfileType{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.JobProfileType div{
    height: 2rem;
    margin-top: -1rem;
}
.JobProfileType div p{
    border-radius: 5px;
    padding: .1rem 1rem;
    margin-top: 0.3rem;
    color: white;
    
}
.Jobiconprofile{
    display: flex;
    align-items: center;
}
.Jobiconprofile i{
    line-height: 27px;
    font-size: 1.8rem;
    margin-right: .5rem;
    color: var(--main-color);
}
.Jobiconprofile p{
    margin: 0!important;
}
.box1{
    transition: 0.3s ease;
}
.box1:hover{
    scale: 1.02;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* UserCompanyProfileImglogo */
.UserCompanyProfileImglogo{
    height: 22rem;
}
.UserCompanyProfileImglogo img{
    object-fit: cover;
    width: 62%;
    height: 89%;
}



/* RelatedJobs  */
.RelatedJobs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* pagination  */
.pagination nav{
    display: flex;
    justify-content: center;
}

.pagination nav ul li span,.pagination nav ul li a{
    font-size: 1.6rem;
    padding: 0.7rem 1.5rem;
}
.page-link.active, .active>.page-link{
    background-color: var(--main-color)!important;
    border-color: var(--main-color)!important;
    color: white!important;
}
.page-link{
    color: var(--main-color)!important;
}

/* jobsearch  */
.search input{
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
}
.JobsearchBtn button{
    border-radius: 5px;
    padding: 0.9rem 2rem;
    font-size: 1.6rem;
    border: none;
    background-color: var(--main-color);
    color: white;
}
.JobFilter{
    font-size: 1.6rem;
    gap:0.5rem;
    background:#ff6158;
    border-radius: 5px;
    margin-left: -11rem;
}
.JobFilter:hover{
    cursor: pointer;
}
.JobFilter i{
    font-size: 1.8rem;
}
.JobFilter i,.JobFilter h2{
    color: white;
}
.JobFilter h2{
    margin: 0;
}
#Jfilter{
    height: 0;
    visibility: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 2rem;
    padding-top: 1rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    padding-left: 0.8rem;
}
.Jactive{
    height: 10rem !important;
    visibility: visible!important;
}